.footer-section {
    background-color: var(--primary-color);
    padding: 4em;
    color: white;
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    
}

.footer-text {
    font-size: 1.4rem;
    max-inline-size: 30ch;
    display: grid;
    
    gap: 1em;
}

.footer-text h2 {
    font-size: 2.5rem;
}

.footer-text .icons {
    display: flex;
    justify-content: start;
    gap: 8px;
}

.footer-image{
    background: url(../images/picture3.jpg);
    width: 50%;
    background-size: cover;
    background-position: center;
}

@media (max-width: 1000px) {
    .footer-image {
        width: 400px;
    }
}

@media (max-width: 560px) {
    .footer-section {
        flex-direction: column;
        align-items: center;

        padding: 0;
    }

    .footer-text {
        padding: 2em 0;
    }

    .footer-image {
        width: 100vw;
        height: 400px;
    }

    .footer-text .icons {
        gap: 3em;
   
    }

    .footer-text .icons img {
        width: 40px;
        height: 40px;
    }
}
