@media (max-width: 900px) {
  html {
    font-size: 15px;
  }

  /* About tablet responsive start */
  .about-container {
    padding: 2em;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .about-content {
    display: block;
  }

  .about-image {
    float: left;
    transform: translate(-20px, -40px);
    width: 300px;
    height: 350px;
  }
  
  .about-image .name {
    transform: translate(250px, -300px);
  }

  .about-card {
    width: 100%;
    max-inline-size: none;
  }

  /* About tablet responsive end */

  /* Main responsive start */
  .project-cards {
    grid-template-columns: 1fr 1fr;
  }
  /* Main teblet responsive end */

  /* Footer tablet responsive start */
   .footer-image {
    max-width: 400px;
   }
   .footer-image img {
    width: 100%;
    height: 100%;
   }
  /* Footer tablet responsive end */
}

@media (max-width: 560px) {
  html {
    font-size: 14px;
  }

  /* About mobile responsive start */
 
  .about-container {
    padding: 2em 0;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    min-width: 100%;
    padding: 0;
    margin: 0;
    
  }

  .about-image {
    float: none;
    transform: translate(0, 0);
    width: 90vw;
  }

  .about-image .name {
    transform: translate(0, 0);
    left: 5%;
   
    /* Wrap the text */
    max-inline-size: 10ch;
    white-space: wrap;
  }

  .about-card {
    display: grid;
    width: 90%;
    background-color: transparent;
    box-shadow: none;
    gap: 1em;
    padding: 0;
  }

  .about-card h3 {
    font-size: 3rem;
    font-weight: 500;
  }

  .about-card p {
    color: black;
    font-size: 1rem;
  }

  .about-background {
    clip-path: polygon(0 0, 100% 0, 100% 22%, 0 52%);
  }

  .about-card .social-links {
    justify-content: center;
  }
  /* About mobile responsive end */

  /* Main mobile responsive start */
  .main {
    padding: 0;
    justify-content: center;
  }

  .project-cards {
    grid-template-columns: 90vw;
  }

  .main h2 {
    font-size: 2.2rem;
    margin: 0 auto;
    margin-bottom: 1em;
  }

  /* Main mobile responsive end */

  /* Footer mobile responsive start */
    .footer-section {
    padding: 0;
    }
    .footer-content {
        flex-direction: column;
    }

    .footer-text {
        padding: 2em 1em;
        max-inline-size: 100ch;
    }

    .footer-image {
        width: 100vw;
    }

    .footer-image img {
        min-width: 100vw;
    }

    .footer-text .icons {
        gap: 3em;
    }

    .footer-text .icons img {
        width: 36px;
        height: 36px;
    }

  /* Footer mobile responsive end */
}
